absl-py==0.9.0
alignment==1.0.10
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.3
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
blessings==1.7
cachetools==4.0.0
Cerberus==1.3.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
click-completion==0.5.0
click-log==0.3.2
cmake==3.16.3
cognitive-face==1.5.0
colorama==0.4.3
cryptography==2.9.2
cursor==1.2.0
cycler==0.10.0
decorator==4.2.1
deepface==0.0.18
defusedxml==0.6.0
Django==3.0.7
django-camera-imagefield==0.2
django-cors-headers==3.2.1
django-userforeignkey==0.3.0
django-webcam==0.1.4b2
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
dlib==19.19.0
dogpile.cache==0.9.2
dpath==1.4.2
entrypoints==0.3
face-recognition==1.2.3
face-recognition-models==0.3.0
fasteners==0.15
filelock==3.0.12
frkl.mdv==1.7.5
future==0.18.2
gast==0.2.2
gdown==3.10.2
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
halo==0.0.29
html5lib==0.9999999
idna==2.8
imageio==2.6.1
importlib-metadata==1.5.0
imutils==0.5.3
inflection==0.3.1
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jinja2schema==0.1.4
joblib==0.14.1
jsonfield==3.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-vggface==0.6
kiwisolver==1.1.0
log-symbols==0.0.14
logzero==1.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
monotonic==1.5
mtcnn==0.1.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
omegaconf==1.3.0
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
opt-einsum==3.1.0
pandas==1.0.0
pandocfilters==1.4.2
parso==0.6.1
passlib==1.7.2
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plumbum==1.6.9
pp-ez==0.2.0
pprintpp==0.4.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.5.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
python-datauri==0.2.8
python-dateutil==2.8.1
python-slugify==3.0.2
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
ruamel.yaml.jinja2==0.2.4
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
Send2Trash==1.5.0
shellingham==1.3.2
six==1.14.0
sklearn==0.0
spinners==0.0.24
sqlparse==0.3.0
stevedore==1.32.0
tabulate==0.8.7
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
toml==0.10.0
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
treelib==1.6.1
urllib3==1.25.8
utils==1.0.1
uuid==1.30
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
whitenoise==5.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==2.2.0
